---
import Title from '@/components/Title.astro';
import Card from '@/components/Card.astro';
import CardsContainer from "@/components/CardsContainer.astro";

const { t } = Astro.props;
const hotels = t.hotels;
---
<section id="hospedaje" class="container container-before-gradient animate-on-scroll">
  <Title text={t.heading} color="green" class="anim-item" />
  <p class="anim-item">{t.description}</p>
  <CardsContainer>
    {hotels.map((hotel: any, index: number) => (
      <Card
        title={hotel.title}
        description={hotel.description}
        linkText={hotel.linkText}
        href={hotel.href}
        type="hospedaje"
        color="green"
        rating={hotel.rating}
        distance={hotel.distance}
        priceRange={hotel.priceRange}
        class="anim-item"
        animationDelayIndex={index}
      />
    ))}
  </CardsContainer>
</section>

<style>

  p {
    text-align: center;
    font-size: var(--font-4);
    line-height: 1.6;
    max-width: 800px;
    color: var(--color-gray);
  }

  /* --- MEDIA QUERIES --- */

  @media (max-width: 900px) {
    p {
      font-size: var(--font-5);
    }
}
</style>