---
// src/sections/Registro.astro
import Title from "@/components/Title.astro";
import Button from "@/components/Button.astro";
import RsvpForm from "@/components/forms/RsvpForm.astro";

import Facebook from '@/icons/Facebook.astro';
import Instagram from '@/icons/Instagram.astro';
import Mail from '@/icons/Mail.astro';
import TikTok from '@/icons/TikTok.astro';

const { t } = Astro.props;
---

<section id="registro" class="container animate-on-scroll">
  <Title text={t.heading} color="brown" class="anim-item" />

  <div class="content-wrapper">
    <RsvpForm t={t.form} />

    <div class="contact-info anim-item">
      <Title text={t.contactHeading} color="brown" />
      <div class="buttons-wrapper">
        <Button
          text={t.contactGroom}
          href="https://wa.link/fdo4fu"
          color="brown"
          variant="primary"
        />
        <Button
          text={t.contactBride}
          href="https://wa.link/fdo4fu"
          color="brown"
          variant="secondary"
        />
      </div>
      <div class="social-media">
        <p>{t.socialText}</p>
        <div class="social-icons">
          <a href={t.social.facebook} aria-label="Facebook" target="_blank"><Facebook /></a>
          <a href={t.social.instagram} aria-label="Instagram" target="_blank"><Instagram /></a>
          <a href={t.social.mail} aria-label="Correo electrónico" target="_blank"><Mail /></a>
          <a href={t.social.tiktok} target="_blank" rel="noopener noreferrer" aria-label="TikTok"><TikTok className="icon"/></a>
        </div>
      </div>
    </div>
  </div>
</section>

<style>

  #registro {
    padding-top: 2rem;
    z-index: 2;
  }

  .content-wrapper {
    width: 100%;
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
  }

  .content-wrapper > * {
    flex: 1;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 4rem;
  }

  .buttons-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 500px;
  }

  .contact-info p {
    font-weight: bold;
  }

  .social-media {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    color: var(--color-gray);
  }

  .social-icons {
    display: flex;
    gap: 1.5rem;
    margin-top: 1rem;
  }

  .social-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 10px;
    color: var(--color-brown);
    background-color: rgba(195, 147, 124, 0.2);
    border-radius: 50%;
    text-decoration: none;
    transition: all 0.3s ease;
  }

  .icon {
    color: var(--color-brown);
  }

  .social-icons a:hover {
    color: var(--color-white);
    background-color: var(--color-brown);
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
  }

  @media (max-width: 900px) {
    .content-wrapper {
      flex-direction: column;
      align-items: center;
      gap: 4rem;
    }

    .contact-info {
      gap: 2rem;
      width: 100%;
    }

    .social-icons {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }
</style>
